# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# local env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# native generated
android/
ios/

# gradle / build artifacts
.gradle/
*.iml
*.apk
*.aab

# signing / local config
*.keystore
*.jks
local.properties
